.galleri {
    flex-direction: row;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .ramme > img {
    animation-duration: 3s;
    animation-name: slidein;
  }