@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'quicksandregular';
    src: url('fonter/quicksand-regular-webfont.woff2') format('woff2'),
         url('fonter/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
}



body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom left,rgb(223, 96, 174), rgb(241, 214, 238));
  background-attachment:fixed;
}

header > nav {
  z-index: 1;
  position: fixed;
  font-size: 1.5em;
  width: 100%;
  padding: 2%;
  display: flex;
  background-color: rgb(122, 1, 106);
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  position: relative;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.navbar > li {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  display: flex;
}

.navbar > li > a {
    color: lightgrey;
    text-decoration: none;
    will-change: transform, color, text-decoration;
    transition: 250ms all ease-out;
    position: relative;
    padding: 8px 16px;
}

.navbar > li > a:hover {
    transform: scale(1.2);
    perspective: 200px;
    color: white;
    text-decoration: underline;
}

main {
  padding-top: 70px;
}

h1 {
  position: relative;
  width: auto;
  text-align: center;
  font-family: 'quicksandregular', 'Times New Roman', Times, serif;
  font-size: 4em;
  text-shadow: 1px 1px 1px rgba(0, 3, 2, 0.55);
  user-select: none;
  transition: 1s all ease-out;
  will-change: color, scale;
}

h1:hover {
  color: rgba(59, 4, 47, 0.55);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);

}

h2 {
  position: relative;
  width: auto;
  font-family: 'quicksandregular', 'Times New Roman', Times, serif;
}

.image-galleri{
  position: relative;
  list-style: none;
  display: flex;
  height: 500px;
  width: 500px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  object-fit: cover;
}

.sun {
  position: relative;
  width: 20vh;
  height: 20vh;
  object-fit: contain;
  object-position: 0 0;
  transition: 1s all ease-out;
  will-change: transform;
}

.sun:hover {
  transform: rotateZ(180deg);
}

p {
  text-align: center;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.bildetekst {
  margin: auto;
  box-sizing: border-box;
  padding: 10px;
  width: 70%;
  text-align: -webkit-center;
}

section {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 40px;
}



  .bold {
    font-weight: 700;
  }

  .italics {
    font-style: italic;
  }

  .bildetekst > p {
    overflow: hidden;
    animation: animate 2s linear forwards;
  }

  @keyframes animate {
    0% {
        width: 0;
        height: 0;
    }
    40% {
        width: 50%;
        height: 50%;
    }
    100% {
        width: 100%;
        height: 100%;
    }